/* Table Container */
table {
    width: 100%;
    max-width: 250px;
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(44, 44, 44);
    border-radius: 12px 12px 4px 4px;
    overflow: hidden;
}

/* Table Header */
thead {
    background-color: rgb(44, 44, 44);
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
}

th {
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid rgb(167, 159, 159);
    width: 100px; /* Fixed width to match td */
}

/* Table Body */
tbody {
    font-size: 0.8rem;
}

tr {
    border-left: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
}

tr:not(:last-child) {
    border-bottom: 1px solid rgb(203, 203, 203);
}

/* Table Cells */
td {
    padding: 3px 8px;
    width: 100px; /* Fixed width */
    height: 40px; /* Fixed height */
    background-color: white;
    border-left: 1px solid rgb(203, 203, 203); /* Add left border to separate columns */
}

tr:nth-child(even) td {
    background-color: rgb(234, 235, 234);
}

td:first-child {
    text-align: left;
    border-left: none; /* Remove left border from the first cell */
}

td:last-child {
    text-align: right;
    border-left: 1px solid rgb(203, 203, 203);
}

/* Form Container */
.form {
    width: 100%;
    max-width: 250px;
    font-family: "Courier New", Courier, monospace;
    background-color: white;
    border-radius: 12px 12px 4px 4px;
    padding: 10px;
    box-sizing: border-box;
}

/* Form Header */
.form-header {
    background-color: rgb(44, 44, 44);
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(167, 159, 159);
}

/* Form Body */
.form-body {
    font-size: 0.8rem;
    padding: 10px;
}

/* Form Fields */
.form-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-left: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    padding: 3px 8px;
    background-color: white;
    border-radius: 4px;
}

.form-field:nth-child(even) {
    background-color: rgb(234, 235, 234);
}

.form-field label {
    flex: 1;
    text-align: left;
}

.form-field input {
    flex: 2;
    padding: 3px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 4px;
}

.sales-report{
    display: flex;
    align-items: space-between;
    justify-content: center;
}
