.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e4d2ba;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.manager-nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manager-nav-bar-button{
  background-color: #61dafb;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
}

.staff-table-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


